@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Julius Sans One', sans-serif;
}

#bg-container {
  background: #fff;
  filter: contrast(50px);
}

#bg-container .box {
  position: absolute;
  border-radius: 50%;
  filter: blur(30px);
}
